node_modules/
coverage/
*.log
npm-debug.log
.logs/
logs/
*.swp
run/
*-run/
.*

!.travis.yml
!.gitignore
!.eslintrc
!.eslintignore
!.gitlab-ci.yml
!.autod.conf.js

zookeeper.out
zookeeper-3.4.6/
zookeeper-3.4.6.tar.gz